html
  head
    title Prime Numbers
  body
    h1 10 first prime numbers
    div
      each number, index in primeNumbers
        span= number
          if index < primeNumbers.length - 1
            | ,
